@charset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

.maven {
    font-family: 'Maven Pro', sans-serif;
}

.noto {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    position: relative;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}

body:before {
    content: "";
    position: absolute;
    top: -70px;
    left: 0;
    background: url(../images/common/bg-01.png) no-repeat center center/cover;
    width: 77.7vw;
    height: 21.3vw;
}

body:after {
    content: "";
    position: fixed;
    bottom: 95px;
    right: 0;
    background: url(../images/common/bg-logo.png) no-repeat center center/100%;
    width: 35.42vw;
    height: 30.4vw;
    z-index: -2;
}

body.fixed {
    overflow: hidden;
}

.inner {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

/*VALIDATE CONTACT*/
.error {
    display: block;
    font-size: 12px;
    color: red;
}

/* HEADER */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 99;
}

#header.showHd {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .headerBar {
    width: 291px;
}

#header .headerBar .logo {}

#header .mainMenu {
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 4px 5px 0 0px rgba(51, 51, 51, 1);
    border-radius: 40px 0 0 40px;
    padding: 18px 25px 18px;
}

#header .mainMenu:before {
    content: "";
    position: absolute;
    top: 0;
    right: calc(100% - 1470px);
    background: #fff;
    box-shadow: 0 5px 0 rgba(51, 51, 51, 1);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#header .mainMenu .menu {
    display: flex;
}

#header .mainMenu .menu li {
    margin-left: 53px;
}

#header .mainMenu .menu li+li {
    margin-left: 48px;
}

#header .mainMenu .menu li a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

#header .mainMenu .menu li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #333333;
    transition: all .3s;
}

/* CONTENT */
#content {
    position: relative;
    width: 100%;
    padding-top: 102px;
}

#content:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    background: url(../images/common/bg-02.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#content:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    background: url(../images/common/bg-03.png) no-repeat;
    background-size: 100%;
    width: 1300px;
    width: 67.7vw;
    height: 390px;
    height: 20.3vw;
    z-index: -1;
}

/*areaTitle*/
.areaTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 27px;
}

.areaTitle .titleMain {
    font-size: 120px;
    font-weight: 400;
    margin-right: 29px;
    letter-spacing: -4.7px;
    line-height: 1;
}

.areaTitle .titleMain::first-letter {
    color: #888888;
}

.areaTitle .titleSub {
    font-size: 16px;
    letter-spacing: 5px;
}

/*pagingNav*/
.pagingNav {
    margin-top: 60px;
}

.pagingNav .pagi_nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagingNav .pagi_nav_list li {
    margin: 0 10px;
}

.pagingNav .pagi_nav_list a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 20px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 50%;
    padding: 2px;
}

.pagingNav .pagi_nav_list li.active a {
    pointer-events: none;
    color: #eaeaea;
    border: 1px solid #eaeaea;
}

.pagingNav .pagi_nav_list li.forth a {
    pointer-events: none;
}

.pagingNav .pagi_nav_list .p-control.prev {
    margin: -2px 28px 0 10px;
}

.pagingNav .pagi_nav_list .p-control.next {
    margin: -2px 10px 0 28px;
}

.pagingNav .pagi_nav_list .p-control a {
    position: relative;
    width: auto;
    height: auto;
    font-size: 16px;
    border: none;
    letter-spacing: 1.5px;
    transition: all .3s;
}

.pagingNav .pagi_nav_list .p-control a:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}

.pagingNav .pagi_nav_list .p-control.prev a {
    padding-left: 20px;
}

.pagingNav .pagi_nav_list .p-control.prev a:before {
    left: 0;
    background: url(../images/common/icon-prev.png)no-repeat;
    background-size: 100%;
}

.pagingNav .pagi_nav_list .p-control.next a {
    padding-right: 20px;
}

.pagingNav .pagi_nav_list .p-control.next a:before {
    right: -2px;
    background: url(../images/common/icon-next.png)no-repeat;
    background-size: 100%;
}

.pagingNav .pagi_nav_list li.p-control.disable a {
    pointer-events: none;
    color: #eaeaea;
    border: none;
}

.pagingNav .pagi_nav_list li.prev.disable a:before {
    background: url(../images/common/icon-prev-grey.png)no-repeat;
    background-size: 100%;
}

.pagingNav .pagi_nav_list li.next.disable a:before {
    background: url(../images/common/icon-next-grey.png)no-repeat;
    background-size: 100%;
}

/*areaBtn*/
.areaBtn {
    width: 100%;
    max-width: 510px;
    margin: auto;
}

.areaBtn a {
    display: block;
    text-align: center;
    background: url(../images/common/icon-next.png) no-repeat right 16px center/12px;
    border: 1px solid #888888;
    border-radius: 35px;
    font-size: 16px;
    padding: 11px 0 13px 5px;
    letter-spacing: 1px;
}

/* FOOTER */
#footer {
    width: 100%;
}

/*COPYRIGHT*/
#copyright {
    font-size: 13px;
    background: #333333;
    color: #fff;
    text-align: center;
    padding: 34px 0 37.5px;
    letter-spacing: 1px;
}

.sp {
    display: none;
}

.loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
}
.loading .loadingWrap {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
}
.loading .loadingWrap video{
    position: relative;
    transform: translateY(-1px);
    width: 100%;
    height: 100%;
    margin: 0;
}

@media(max-width: 1150px) and (min-width: 769px) {
    #header .headerBar {
        width: 250px;
    }

    #header .mainMenu {
        padding: 15px 10px;
    }

    #header .mainMenu:before {
        right: calc(100% - 980px);
    }

    #header .mainMenu .menu li,
    #header .mainMenu .menu li+li {
        margin-left: 25px;
    }

    #header .mainMenu .menu li a {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .areaTitle .titleMain {
        font-size: 90px;
    }
}

@media(max-width: 850px) and (min-width: 769px) {
    #header .headerBar {
        width: calc(100% - 550px);
    }

    #header .mainMenu {
        width: 490px;
    }

    .areaTitle .titleMain {
        font-size: 70px;
    }

    .areaTitle .titleSub {
        font-size: 14px;
    }
}

@media(min-width: 769px) {
    .areaBtn a:hover {
        background-color: #333333;
        background-image: url(../images/common/icon-arrow-white.png);
        color: #fff;
    }

    #header .mainMenu .menu li a:hover:before {
        width: 100%;
        left: 0;
    }

    .pagingNav .pagi_nav_list li a:hover {
        color: #fff;
        background-color: #333;
    }

    .pagingNav .pagi_nav_list .p-control a:hover {
        background-color: transparent;
        color: #333
    }

    .pagingNav .pagi_nav_list .p-control.prev a:hover {
        transform: translateX(-10px);
    }

    .pagingNav .pagi_nav_list .p-control.next a:hover {
        transform: translateX(10px);
    }
}

/* STYLE MOBILE */
@media (max-width: 768px) {
    body:before {
        top: 0px;
        height: 25.3vw;
        width: 100%;
    }

    body:after {
        bottom: 41px;
        width: 340px;
        height: 310px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .inner {
        width: 100%;
        padding: 0 4%;
    }

    /* MENU */
    .hamburger {
        position: absolute;
        top: 5px;
        right: 15px;
        width: 35px;
        height: 50px;
        z-index: 9991;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .hamburger span {
        display: block;
        height: 7px;
        width: 100%;
        background: #000;
        border-radius: 50px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        margin-bottom: 5px;
    }

    .hamburger span:nth-child(2) {
        opacity: 1
    }

    .hamburger span:nth-child(3) {
        margin-top: 5px;
    }

    .hamburger.open span:nth-child(1) {
        margin-bottom: -2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        margin-top: -11px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #header {
        padding: 12px 0;
    }

    #header .mainMenu {
        position: absolute;
        top: 61px;
        left: 0;
        width: 100%;
        display: none;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: none;
        border-radius: 0;
        padding: 29px 4% 50px;
        height: calc(100vh - 61px);
        overflow-y: auto;
    }

    #header .headerBar {
        width: 59.5%;
        max-width: 250px;
    }

    #header .mainMenu:before {
        display: none;
    }

    #header .mainMenu .menu {
        flex-direction: column;
    }

    #header .mainMenu .menu li,
    #header .mainMenu .menu li+li {
        margin-left: 0;
        margin-bottom: 22px;
        text-align: center;
    }

    #header .mainMenu .menu li a {
        font-size: 25px;
        letter-spacing: 3.3px;
    }

    /*CONTENT*/
    #content {
        padding-top: 31px;
    }

    #content:before {
        top: -1px;
        background-image: url(../images/common/bg-02-sp.png);
    }

    #content:after {
        top: -1px;
        width: 100%;
    }

    /*areaTitle*/
    .areaTitle {
        margin-bottom: 23px;
    }

    .areaTitle .titleMain {
        font-size: 60px;
        letter-spacing: -2px;
        margin-right: 13px;
    }

    .areaTitle .titleSub {
        font-size: 12px;
        letter-spacing: 3.5px;
    }

    /*areaBtn*/
    .areaBtn a {
        background: url(../images/common/icon-next.png) no-repeat right 17px center/10px;
        font-size: 14px;
        padding: 10px 0 11px;
    }

    /*pagingNav*/
    .pagingNav {
        margin-top: 30px;
    }

    .pagingNav .pagi_nav_list li {
        margin: 0 5px;
    }

    .pagingNav .pagi_nav_list a {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .pagingNav .pagi_nav_list .p-control a {
        font-size: 14px;
    }

    .pagingNav .pagi_nav_list .p-control a:before {
        width: 11px;
        height: 11px;
    }

    .pagingNav .pagi_nav_list .p-control.prev {
        margin: 0px 24px 0 5px;
    }

    .pagingNav .pagi_nav_list .p-control.prev a:before {
        left: 6px;
    }

    .pagingNav .pagi_nav_list .p-control.next {
        margin: 0px 5px 0 24px;
    }

    .pagingNav .pagi_nav_list .p-control.next a:before {
        right: 6px;
    }

    #copyright {
        font-size: 10px;
        padding: 16px 0;
    }

    .loading .loadingWrap {
        width: 150px;
        height: 150px;
    }
}